<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="icrm">
		<fieldset name="api"
			label="API"
			addfieldpath="administrator/components/com_schedule/model/field"
			>

			<field
				name="host"
				type="text"
				label="iCRM API 網址"
				class=""
				default=""
				/>

			<field name="default_sender"
				type="sql"
				query="SELECT CONCAT(id, '-', name) AS sender, name FROM #__schedule_senders"
				key_field="sender"
				value_field="name"
				label="預設外送藥師"
				description="預設外送藥師"
				class=""
				/>

			<field name="default_weekday"
				type="list"
				label="預設外送日"
				description="預設外送日"
				class=""
				>
				<option value="MON">MON</option>
				<option value="TUE">TUE</option>
				<option value="WED">WED</option>
				<option value="THU">THU</option>
				<option value="FRI">FRI</option>
			</field>
		</fieldset>
	</fields>

	<fields name="schedule">
		<fieldset name="schedule"
			label="Schedule"
			>
			<field name="empty_route_mail"
				type="sql"
				query="SELECT CONCAT(`name`, ' &lt;', `email`, '&gt;') AS empty_route_mail, `email` AS `value` FROM #__users"
				multiple="true"
				label="無路線提醒信箱"
				description="無路線提醒信箱"
				/>
		</fieldset>
	</fields>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_schedule"
			section="component" />
	</fieldset>

</config>
