<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="icrm">
		<fieldset name="api"
			label="API"
			description="API config"
			addfieldpath="administrator/components/com_schedule/model/field"
			>

			<field
				name="host"
				type="text"
				label="iCRM API 網址"
				class=""
				default=""
				/>

			<field name="default_sender_id"
				type="sender_list"
				key_field="id"
				value_field="id"
				label="預設外送藥師編號"
				description="預設外送藥師編號"
				class=""
				/>

			<field name="default_sender_name"
				type="sender_list"
				key_field="name"
				value_field="name"
				label="預設外送藥師姓名"
				description="預設外送藥師姓名"
				class=""
				/>

			<field name="default_weekday"
				type="list"
				label="預設外送日"
				description="預設外送日"
				class=""
				>
				<option value="MON">MON</option>
				<option value="TUE">TUE</option>
				<option value="WED">WED</option>
				<option value="THU">THU</option>
				<option value="FRI">FRI</option>
			</field>
		</fieldset>
	</fields>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_schedule"
			section="component" />
	</fieldset>

</config>
