<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="icrm">
		<fieldset name="api"
			label="API"
			description="API config"
			addfieldpath="administrator/components/com_schedule/model/field"
			>

			<field
				name="host"
				type="text"
				label="iCRM API 網址"
				class=""
				default=""
				/>
		</fieldset>
	</fields>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_schedule"
			section="component" />
	</fieldset>

</config>
